<%= content_for :jumbotron do %>
  <%= render partial: "high_schools/layout/jumbotron", locals: {presenter: @college_profile_presenter} %>
<% end %>

<%= content_for :navigation_links do %>
  <%= render partial: "high_schools/layout/navigation/public_links", locals: {presenter: @college_profile_presenter} %>
<% end %>

<%= link_to [@highlightable, :highlights] do %>
  <p><i class="fa fa-arrow-left" aria-hidden="true"></i> See All Highlights for <%= @highlightable.name %></p>
<% end %>
<%= render partial: "highlights/highlight", locals: {awesome_highlight: @highlight} %>
