<div>
  <%= form_for @profile, url: user_profiles_path(@user) do |f| %>
    <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :primary_position %>
      <%= f.select :primary_position, options_for_select(Profile::POSITIONS) %>
    </div>
    <div>
      <%= f.label :jersey_number%>
      <%= f.text_field :jersey_number%>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>
