<div class="search-header">
  <div class="container">
    <%= form_tag search_highlights_path, :class => 'filter-form', method: :get, data: {remote: true, realtime: "submit"} do %>
      <div class="clearfix">
        <div class="col-1-2">
          <%= text_field_tag :q, params[:q], placeholder: "What are you searching for?" %>
          <%= button_tag "<i class='fa fa-search'></i>".html_safe, :class => 'search_btn' %>
        </div>
        <div class="col-1-2 clearfix">
          <div class="select-style col-1-2"><%= select_tag "positions", options_for_select(Position.abbreviations, selected: params[:positions]), prompt: "All Positions" %></div>
          <div class="select-style col-1-2"><%= select_tag "state", options_for_select(Address.us_states, selected: params[:state]), prompt: "All States" %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="highlight-search-results" class="results-grid">
  <%= render partial: "results" %>
</div>
