<p>
  Hello <%= @high_school.counselor_name %>!
</p>

<p>
  <%= @college.name %> has requested a transcript for <%= @athlete.name %>. Coach <%= @college_coach_user.name %> requested it, and you can reply on to this email to speak with them, or reach out at <%= @college_coach_user.email %>.
</p>

<p>
  Since a college coach is requesting the transcript for one of your kids, I guess you can say things are getting pretty serious.
</p>

<p>Thanks,</p>
<p>RecruitingBoard.net</p>

<p>p.s.</p>
<p>If receiving this email doesn't make sense, please ignore it.</p>
