<div class="container">
  <%= link_to "back to profile", summary_high_school_administration_athlete_invitations_path(@high_school), class: "delete_btn"  %>

  <h1>Invitations</h1>

  <div class="invitations-container" style="margin: 0 auto; width: 100%;">
  <%= form_for [@high_school, :administration, @invitation], class: "form" do |f| %>
      <table class="table">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Invitation Accepted?</th>
        </tr>
        <% @high_school.invited_users.each do |user| %>
          <tr>
            <td><%= user.profile.first_name %></td>
            <td><%= user.profile.last_name %></td>
            <td><%= user.profile.email %></td>
            <td><%= user.invitation_accepted_at.present? ? time_ago_in_words(user.invitation_accepted_at) : "Not Yet" %></td>
          </tr>
        <% end %>
        <% 3.times do %>
          <%= render partial: "athlete_invitation_fields" %>
        <% end %>

        <tr data-behavior="new-invite-button-row">
          <td>
            <%= link_to add_new_invite_field_high_school_administration_athlete_invitations_path(@high_school), remote: true do %>
              <%= fa_icon "plus", text: "Add Another User" %>
            <% end %>
          </td>
        </tr>
      </table>


    <br />
    <%= f.button "Save Changes", class: "primary_btn" %>
    <br />
    <%= link_to "cancel", summary_high_school_administration_athlete_invitations_path(@high_school)  %>
  <% end %>
  </div>
</div>
