<div class="search-header">
  <div class="container">
    <%= form_tag schools_path, :class => 'filter-form', method: :get, data: {remote: true, realtime: "submit"} do %>
      <div>
        <div class="col-1">
          <%= text_field_tag :q, params[:q], placeholder: "What's the name of the school?"%>
          <%= button_tag "<i class='fa fa-search'></i>".html_safe, :class => 'search_btn' %>
        </div>

        <div class="col-1 clearfix">
          <div class="select-style col-1-3"><%= select_tag "school_type", options_for_select([["Colleges", "College"], ["High Schools", "HighSchool"]], selected: params[:school_type]) %></div>
          <div data-behavior="college-division-select"  class="select-style col-1-3">
            <%= select_tag "division", options_for_select([["II", 2], ["III", 3]], selected: params[:division]), prompt: "Division" %>
          </div>
          <div data-behavior="high-school-enrollment-select" class="select-style col-1-3">
            <%= select_tag "enrollment", options_for_select(HighSchool.enrollment_interval_options, selected: params[:enrollment]), prompt: "All Sizes" %>
          </div>
          <div class="select-style col-1-3"><%= select_tag "state", options_for_select(Address.us_states, selected: params[:state]), prompt: "All States" %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="school-search-results" class="results-grid">
  <%= render partial: "results" %>
</div>
