<div class="content center_text">
  <h1 class="max-width">Add Your High School</h1>
  <%= form_for @high_school do |f| %>
    <ul>
      <% @high_school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>

    <%= f.hidden_field :finish_onboarding, value: params[:finish_onboarding] || f.object.finish_onboarding %>
    <div>
      <div class="form-section">
        <h3><b>Name and Logo</b></h3>
        <div class="field">
          <%= f.text_field :name, placeholder: 'School Name' %>
        </div>
        <div class="field">
          <%= image_tag(@high_school.logo_url) if @high_school.logo? %>
          <%= f.file_field :logo %>
          <%= f.hidden_field :logo_cache %>
        </div>
      </div>
      <div class="form-section">
        <h3><b>Coach Details</b></h3>
        <div class="field">
          <%= f.text_field :registration_coach_name, placeholder: 'Coach Name' %>
        </div>

        <div class="field">
          <%= f.text_field :registration_coach_phone_number, placeholder: 'Coach Phone' %>
        </div>
      </div>
      <div class="form-section">
        <h3><b>School Location</b></h3>
        <div class="field">
          <%= f.fields_for :address, Address.new do |address_form| %>
            <%= render partial: "addresses/fields", locals: {address_form: address_form} %>
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <%= f.submit "Create High School", :class => 'primary_btn' %>
    </div>
  <% end %>

  <div class="anchor_image"><%= image_tag('illustrations/green_game_01.jpg') %></div>

</div>

