<%= content_for :jumbotron do %>
  <%= render partial: "athletes/layout/jumbotron", locals: {presenter: @athlete_profile_presenter} %>
<% end %>

<%= content_for :navigation_links do %>
  <%= render partial: "athletes/layout/navigation/administration_links", locals: {presenter: @athlete_profile_presenter} %>
<% end %>

<h3 class="dashboard_section-title">Edit Stats</h3>
<div data-behavior='stat-board-container'>
  <%= render @stat_board %>
</div>
