<div data-id="<%= connection.id %>" class="athlete_connection flex-center-v">
  <div class="athlete_connection-thumb">
    <%= link_to connection.athlete do %>
      <%= image_tag connection.athlete.image.url %>
    <% end %>
  </div>
  <div class="athlete_connection-name">
    <span><%= connection.athlete.name %> / <%= connection.athlete.primary_position %> to <%= link_to connection.college.name, connection.college %></span>
    <div class="athlete_connection-level">
      <ul>
        <li>
          <%= label_tag "committed" %>
          <%= check_box_tag "committed", "committed", connection.committed, disabled: true %>
        </li>
        <li>
          <%= label_tag "LOI Signed" %>
          <%= check_box_tag "LOI signed", "letter_of_intent_signed", connection.letter_of_intent_signed, disabled: true %>
        </li>
      </ul>
    </div>
  </div>
</div>
