<div class="content center_text">

    <h1>Reset password</h1>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, :placeholder => 'Your email address' %>
      </div>

      <div class="actions">
        <%= f.submit "Send me a link", :class => 'primary_btn' %>
      </div>
    <% end %>

    <div class="form_links"><%= render "accounts/shared/links" %></div>
    <div class="anchor_image"><%= image_tag('illustrations/green_game_01.jpg') %></div>

</div>
