<footer>
  <ul>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Terms & Conditions", terms_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Who is That?", who_is_that_path %></li>
  </ul>
  <div class="footer_logo"><%= image_tag('rb_logo_small_black.png') %></div>
  <span class="footer_copyright">&copy; Copyright <%= Date.current.year %> Recruiting Board LLC</span>
</footer>
